*.md linguist-documentation=false
*.md linguist-detectable
*.adoc linguist-documentation=false
*.adoc linguist-detectable
*.rst linguist-documentation=false
*.rst linguist-detectable
*.sql linguist-documentation=false
*.sql linguist-detectable
*.creole linguist-documentation=false
*.creole linguist-detectable
*.gmi linguist-documentation=false
*.gmi linguist-detectable
*.textile linguist-documentation=false
*.textile linguist-detectable
*.txt linguist-documentation=false
*.txt linguist-detectable
.gitignore linguist-documentation=false
.gitignore linguist-detectable
*.json linguist-documentation=false
*.json linguist-detectable
*.csv linguist-documentation=false
*.csv linguist-detectable
*.yaml linguist-documentation=false
*.yaml linguist-detectable
*.yml linguist-documentation=false
*.yml linguist-detectable
*.conf linguist-documentation=false
*.conf linguist-detectable
*.eps linguist-documentation=false
*.eps linguist-detectable
*.bib linguist-documentation=false
*.bib linguist-detectable
*.fish linguist-documentation=false
*.fish linguist-detectable
*.toml linguist-documentation=false
*.toml linguist-detectable
