*.md linguist-documentation=false
*.md linguist-detectable
*.adoc linguist-documentation=false
*.adoc linguist-detectable
*.rst linguist-documentation=false
*.rst linguist-detectable
*.sql linguist-documentation=false
*.sql linguist-detectable
*.creole linguist-documentation=false
*.creole linguist-detectable
*.gmi linguist-documentation=false
*.gmi linguist-detectable
*.textile linguist-documentation=false
*.textile linguist-detectable
*.txt linguist-documentation=false
*.txt linguist-detectable
*.json linguist-documentation=false
*.json linguist-detectable
*.csv linguist-documentation=false
*.csv linguist-detectable
*.yaml linguist-documentation=false
*.yaml linguist-detectable
*.yml linguist-documentation=false
*.yml linguist-detectable
*.conf linguist-documentation=false
*.conf linguist-detectable
*.eps linguist-documentation=false
*.eps linguist-detectable
*.bib linguist-documentation=false
*.bib linguist-detectable
*.fish linguist-documentation=false
*.fish linguist-detectable
*.toml linguist-documentation=false
*.toml linguist-detectable
*.service linguist-documentation=false
*.service linguist-detectable
*.neon linguist-documentation=false
*.neon linguist-detectable
*.org linguist-documentation=false
*.org linguist-detectable
*.2da linguist-documentation=false
*.2da linguist-detectable
*.apacheconf linguist-documentation=false
*.apacheconf linguist-detectable
*.vhost linguist-documentation=false
*.vhost linguist-detectable
*.c-objdump linguist-documentation=false
*.c-objdump linguist-detectable
*.cil linguist-documentation=false
*.cil linguist-detectable
*.dae linguist-documentation=false
*.dae linguist-detectable
*.cabal linguist-documentation=false
*.cabal linguist-detectable
*.caddyfile linguist-documentation=false
*.caddyfile linguist-detectable
*.crc32 linguist-documentation=false
*.crc32 linguist-detectable
*.md2 linguist-documentation=false
*.md2 linguist-detectable
*.md4 linguist-documentation=false
*.md4 linguist-detectable
*.md5 linguist-documentation=false
*.md5 linguist-detectable
*.sha1 linguist-documentation=false
*.sha1 linguist-detectable
*.sha2 linguist-documentation=false
*.sha2 linguist-detectable
*.sha224 linguist-documentation=false
*.sha224 linguist-detectable
*.sha256 linguist-documentation=false
*.sha256 linguist-detectable
*.sha256sum linguist-documentation=false
*.sha256sum linguist-detectable
*.sha3 linguist-documentation=false
*.sha3 linguist-detectable
*.sha384 linguist-documentation=false
*.sha384 linguist-detectable
*.sha512 linguist-documentation=false
*.sha512 linguist-detectable
*.conllu linguist-documentation=false
*.conllu linguist-detectable
*.conll linguist-documentation=false
*.conll linguist-detectable
*.cppobjdump linguist-documentation=false
*.cppobjdump linguist-detectable
*.c++-objdump linguist-documentation=false
*.c++-objdump linguist-detectable
*.c++objdump linguist-documentation=false
*.c++objdump linguist-detectable
*.cpp-objdump linguist-documentation=false
*.cpp-objdump linguist-detectable
*.cxx-objdump linguist-documentation=false
*.cxx-objdump linguist-detectable
*.cue linguist-documentation=false
*.cue linguist-detectable
*.d-objdump linguist-documentation=false
*.d-objdump linguist-detectable
*.zone linguist-documentation=false
*.zone linguist-detectable
*.arpa linguist-documentation=false
*.arpa linguist-detectable
*.darcspatch linguist-documentation=false
*.darcspatch linguist-detectable
*.dpatch linguist-documentation=false
*.dpatch linguist-detectable
*.dsc linguist-documentation=false
*.dsc linguist-detectable
*.diff linguist-documentation=false
*.diff linguist-detectable
*.patch linguist-documentation=false
*.patch linguist-detectable
*.env linguist-documentation=false
*.env linguist-detectable
*.eml linguist-documentation=false
*.eml linguist-detectable
*.mbox linguist-documentation=false
*.mbox linguist-detectable
*.pub linguist-documentation=false
*.pub linguist-detectable
*.mtml linguist-documentation=false
*.mtml linguist-detectable

MD5SUMS linguist-documentation=false
MD5SUMS linguist-detectable
SHA1SUMS linguist-documentation=false
SHA1SUMS linguist-detectable
SHA256SUMS linguist-documentation=false
SHA256SUMS linguist-detectable
SHA256SUMS.txt linguist-documentation=false
SHA256SUMS.txt linguist-detectable
SHA512SUMS linguist-documentation=false
SHA512SUMS linguist-detectable
checksums.txt linguist-documentation=false
checksums.txt linguist-detectable
cksums linguist-documentation=false
cksums linguist-detectable
md5sum.txt linguist-documentation=false
md5sum.txt linguist-detectable
firestore.rules linguist-documentation=false
firestore.rules linguist-detectable
.browserslistrc linguist-documentation=false
.browserslistrc linguist-detectable
browserslist linguist-documentation=false
browserslist linguist-detectable
.gitignore linguist-documentation=false
.gitignore linguist-detectable
gitignore linguist-documentation=false
gitignore linguist-detectable
.gitconfig linguist-documentation=false
.gitconfig linguist-detectable
gitconfig linguist-documentation=false
gitconfig linguist-detectable
hosts linguist-documentation=false
hosts linguist-detectable
PKGBUILD linguist-documentation=false
PKGBUILD linguist-detectable
COPYING linguist-documentation=false
COPYING linguist-detectable