# /etc/systemd/system/mylight.service
[Unit]
Description=set light to 1
After=lightdm.service

[Service]
ExecStart=brightnessctl s 1

[Install]
WantedBy=multi-user.target 
